.categories{
    
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    
}
.categories form{
    width: 300px;
    margin-bottom: 20px;
}
.categories label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.categories input, button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}
.categories input{
    width: 210px;
}
.categories button{
    width: 70px;
    
    color: white;
    margin-left: 10px;
    border-radius: 10px;
}

.crear{
    background: #0BECB8;
}

.editar{
    background: #99B0A7 ;
}

.eliminar{
    background: #00C1FF;
}
.categories .row{
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}